# Write your rules to this file
# Rules could be on more lines, but must end with semicolon (;)
# You can use hashtag for comment lines, block comments are not supported
# Grammar definition is described in documentation


#place base with first line of defense (FLoD)
IF player_dont_have_base AND can_place_archer THEN place_base;

#first repair FLoD, fill with archers (1)
IF player_have_base AND can_place_archer THEN place_guard 1;

#if FLoD is intact place remote long range troops-druid
IF player_have_base AND has_guards AND has_resources_druid THEN place_druid_square;

#make second line of defense with knights
IF player_have_base AND can_buy_extended_guard THEN place_extended;

#corners are filled with druids, cross position fill with ents if free (has many HP)
IF player_have_base AND cross_not_occupied AND has_resources_ent THEN place_cross_ent;






